name: anycrawl

x-common-service: &common-service
    networks:
        - anycrawl-network
    volumes:
        - ./storage:/usr/src/app/storage
        - ./db:/usr/src/app/db

x-common-env: &common-env
    ANYCRAWL_HEADLESS: ${ANYCRAWL_HEADLESS:-true}
    ANYCRAWL_PROXY_URL: ${ANYCRAWL_PROXY_URL:-}
    ANYCRAWL_IGNORE_SSL_ERROR: ${ANYCRAWL_IGNORE_SSL_ERROR:-true}
    ANYCRAWL_REDIS_URL: ${ANYCRAWL_REDIS_URL:-redis://redis:6379}
    ANYCRAWL_API_PORT: ${ANYCRAWL_API_PORT:-8080}
    ANYCRAWL_API_AUTH_ENABLED: ${ANYCRAWL_API_AUTH_ENABLED:-false}
    CUSTOM_BASE_URL: ${CUSTOM_BASE_URL:-https://generativelanguage.googleapis.com/v1beta/openai}
    CUSTOM_API_KEY: ${CUSTOM_API_KEY:-}
    ANYCRAWL_API_DB_TYPE: "sqlite"
    ANYCRAWL_USER_AGENT: ${ANYCRAWL_USER_AGENT}
    ANYCRAWL_API_DB_CONNECTION: "/usr/src/app/db/database.db"
    ANYCRAWL_MAX_CONCURRENCY: ${ANYCRAWL_MAX_CONCURRENCY:-50}
    ANYCRAWL_DOMAIN: ${SERVICE_URL_API}
    ANYCRAWL_TEMPLATE_CACHE_TTL_MS: ${ANYCRAWL_TEMPLATE_CACHE_TTL_MS:-600000}

services:
    api:
        <<: *common-service
        build:
            context: .
            dockerfile: apps/api/Dockerfile
            target: api
        environment:
            <<: *common-env
            PORT: 8080
        depends_on:
            - redis

    scrape-puppeteer:
        <<: *common-service
        build:
            context: .
            dockerfile: packages/scrape/Dockerfile.puppeteer
            target: scrape-puppeteer
        environment:
            <<: *common-env
        depends_on:
            - redis
    scrape-playwright:
        <<: *common-service
        build:
            context: .
            dockerfile: packages/scrape/Dockerfile.playwright
            target: scrape-playwright
        environment:
            <<: *common-env
        depends_on:
            - redis

    scrape-cheerio:
        <<: *common-service
        build:
            context: .
            dockerfile: packages/scrape/Dockerfile.cheerio
            target: scrape-cheerio
        environment:
            <<: *common-env
        depends_on:
            - redis
    redis:
        image: redis:7-alpine
        volumes:
            - redis-data:/data
        networks:
            - anycrawl-network
        command: redis-server --appendonly yes

volumes:
    redis-data:

networks:
    anycrawl-network:
        driver: bridge
